@page
@model LoginPage.Pages.Product.IndexModel
@{
}

<div class="container">
 
    <div class="d-flex justify-content-evenly">
    <h1>Product Page</h1>
        @{
            if (HttpContext.Session.GetString("IsAdmin") == "Admin")
            {
                
    <button class="btn-primary">
        <a class="text-decoration-none text-light" asp-page="AddProducts">
       Add Products
        </a>
       </button>
            }
        }
    </div>
    <div class="container d-grid mt-5 ">
    <div class="row">
        @{
            foreach(var prods in Model.ProductList)
            {
    <div class="col-md-4">
    <div class="card shadow mt-3" style="width: 18rem; min-height:35rem">
           @{
                                if (HttpContext.Session.GetString("IsAdmin") == "Admin")
                                {
            <span class="btn-danger position-absolute top-0 float-end text-center" style="width:30px;">
                <a class="text-decoration-none text-light" asp-route-id=@prods.PId asp-page-handler="DeleteProduct" asp-page="/Product/Index">X</a>
            </span>                 
                                }
           }
            <img src="productImg/@prods.ProductImgPath" class="card-img-top h-25" style="min-height:17rem" alt="..." />
        <div class="card-body">
            <p class="card-title">@prods.ProductName</p>
            <p class="card-text">&#8377; @prods.ProductPrice</p>
            <p class="card-text">Description : @prods.ProductDescription</p>
            <p class="card-text">Category : @prods.ProductCategoryName</p>
        </div>
    </div>
    </div>
            }
        }

    </div>
    </div>        

</div>

